.journal-page {
    background:url("../../assets/images/papper.jpeg");
    background-size: cover;
    height: 100%;
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
   
      text-align: start;
      word-wrap: normal;
      overflow-y: auto;
    }
    .journal-content {
      padding: 20px;
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          margin-bottom: 15px;
  
          p {
            font-size: 14px;
            color: #777;
          }
        }
      }
    }
  }
  