.voicein {
  background-color: rgb(47, 220, 206);
  border-radius: 5px;
  .controls {
    background-color: rgb(47, 220, 206); /* Set your desired background color */
    padding: 10px;
    border-radius: 5px;
  }

  .controls button {
    margin-right: 10px;
  }
}
