@use "../../styling/variables" as *;
.reminder-container {
  width: 18.75rem;
  height: 17rem;
  border: 1px solid $border-color;
  border-radius: .3125rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
  padding: .625rem;
  overflow: scroll;
}

.reminder-list {
  margin-top: 10px;
}

.reminder-item {
  padding: .625rem;
  margin-bottom: .625rem;
  border-radius: .3125rem;
  color: $white;
}

.reminder-time {
  font-weight: bold;
}

.reminder-title {
  margin-top: .3125rem;
}
