
*{
    box-sizing: border-box;
}


body{
    min-height: 95vh;
    min-width: 95vw;
}

.page button{
    border: 2rem solid peru;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: large;

}
.voiceText{
background: url("../assets/paper.jpeg");

    &__inputBox{
        background: url("../assets/paper.jpeg");
        background-size: cover;
        margin-top: 1.25rem;
        width: 98%;
        height: 80vh;
        padding: 1rem;
        border: 1rem solid orange;
        border-radius: .3125rem;
        resize: none;
     
        color:black;
    }
}