.calendar {
  font-family: Arial, sans-serif;
  width: 18.9375rem;
  height: 18.625rem;
  border: 0.1875rem solid #ccc;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.calendar-header {
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  background-color: #f0f0f0;
}

.calendar-header button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
}

.calendar-header h2 {
  margin: 0;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-collapse: collapse;
}

.calendar-day {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.calendar-day.empty {
  border: none;
}

.calendar-day:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.calendar-day.selected {
  background-color: #007bff;
  color: #fff;
}

.calendar-day.submitted::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: green;
}
.calendar-day.has-reminder {
  background-color: #ffc0cb;
  color: black;
  position: relative;
}

.calendar-day.has-reminder::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ffc0cb;
  border-radius: 50%;
}
