.journal-collection-page {
    padding: 20px;
    width:96%;
    height: 61.875rem;
    background-color: #f9f9f9;
    border-radius: 3px;
    .MuiCard-root {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(252, 176, 69, 1);
      color: #f9f9f9;
      border: 1px solid #dddddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .MuiCardContent-root {
      flex-grow: 1;
    }
  
    .add-journal-card {
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
  }
  