.journal-collection-page {
    padding: 20px;
    width:96%;
    height: 61.875rem;
    background-color: #d6c31d5c;
    border-radius: 3px;

    .css-sghohy-MuiButtonBase-root-MuiButton-root{
      height: 250px;
      width: 160px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin-top: 1rem;
    }
    .MuiCard-root {
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(252, 176, 69, 1);
      color: #f9f9f9;
      border: 1px solid #dddddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  
    .MuiCardContent-root {
      flex-grow: 1;
    }
  
    .add-journal-card {
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
  }
  