.header {
  background-color: #28a99e; 
  color: #fff; 
  height: 3rem;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 3px;
}

.header .title {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px; 
  color: #ffa500; 
}

.header .avatar-container {
  display: flex;
  align-items: center;
  height: 100%;
}

img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 10px;
}

.header .avatar-container .username {
  font-weight: bold;
}

.header .avatar-container img:hover {
  transform: scale(1.1); 
}
