//color palette journal one
$mediumpink: #c2b2b4;
$violet: #6b4e71;
$charcoal: #3a4454;
$white: #ffffff;
$black: #000000;
$blue: #53687e;
$lightpink: #f5dddd;

//
$trueblue: #4464ad;
$violet: #A4B0F5;
$orange: #F58F29;
$white: #ffffff;
$black: #000000;
$brown: #844D05;
$lightblue: #466995;