.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:url("../../assets/images/journal\ cover.jpeg") ;
  background-size: cover;

  .login-page__logo {
    background: url('../../assets/images/logo.png');
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
    width: 10rem;
    height: 10rem;
  }

  .login-form {
    width: 300px;

    .login-page__input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      outline: none;

      &::placeholder {
        color: #aaa;
      }
    }

    .login-page__button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .login-page__error {
    color: red;
    margin-top: 10px;
  }

  .login-page__signup {
    color: #007bff;
    margin-top: 20px;

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
