.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100vh;
  background:url("../../assets/images/journal\ cover.jpeg") ;
  background-size: cover;

  &__logo {
    background: url('../../assets/images/logo.png');
    background-size: cover;
    border-radius: 50%;
    margin: 10px 0;
    width: 7rem;
    height: 7rem;
  }

  &__form {
    width: 300px;}

  &__input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      outline: none;

      &::placeholder {
        color: #aaa;
      }
    }

  &__button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  

  &__error {
    color: red;
    margin-top: 10px;
  }

  &__signup {
    color: #007bff;
    margin-top: 20px;

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root{
  width:400px;
  height: 300px;
}