.sidebar {
  position: fixed;
  top: 5rem; 
  right: 0.69rem; 
  width: 350px;
  height: 85%;
  background: linear-gradient(#fed5a4 0%, #fee6c8, #ffeeda 100%);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.calendar-reminder {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.calendar,
.reminder,
.ai-response {
  width: 100%;  
}

textarea {
  width:295px; 
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: scroll;
  resize: none;
}
